$primary-font: 'Roboto', sans-serif;
$primary-color: #0C7CEC;

.menu-header{
    ul{
        display: flex;

        li{
            list-style: none;
            text-align: center;

            a{
                color: black;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                margin-left: 32px;
            }
        }
    }
}
